<h1>Fernanda Aldrette</h1>
<p>Un poco acerca de mí</p>
<ul>
  <li>Fernanda Aldrette tiene 5 años de experiencia en la dirección de ONGs (especialmente en temas de salud, nutrición y desarrollo). Con historial en las diferentes etapas de gestión e implementación de proyectos sociales (educativos y de promoción de la salud) para diferentes grupos poblacionales, colaborando e influyendo en la toma de decisiones desde el enfoque de planeación estratégica, contenido e innovación.</li>
  <li>Fue directora general de la Fundación de Clínicas del Azúcar, teniendo a su cargo iniciativas como el Encuentro de Diabetes “Caminemos Juntos” y la plataforma digital www.saludatudia.org, sitio educativo especializado en diabetes y nutrición. Actualmente es consultora y bloguera en temas de desarrollo social, salud pública y nutrición.</li>
</ul>
